
        body, ul {
            margin: 0;
            padding: 0;
        }

        body {
            background-color: #f8f8f8;
            font-family: Arial, sans-serif;
            background-image: url("why-kei-8e2gal_GIE8-unsplash.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .header {
            background-color:   skyblue;
            color: #ffffff;
            text-align: center;
            min-height: fit-content;
            padding: 10px 0;
        }

        .header h1 {
            font-size: 36px;
            color: black;
        }

        .header ul {
            list-style-type: none;
            margin-top: 10px;
            
        }

        .header ul li {
            display: inline;
            margin-right: 10px;
        }

        .header ul li a {
            color:black;
            text-decoration: none;
            font-weight: bold;
        }

        .header ul li a:hover {
            text-decoration: underline;
        }

        .title {
            text-align: center;
            margin-top: 20px;
        }

        .title h2 {
            font-size: 28px;
            color: #f7efef;
        }

        .title p {
            font-size: 18px;
            color: #ffffff;
        }

        .subtitle {
            text-align: left;
            margin-top: 20px;
            padding-left: 20px;
        }

        .subtitle p {
            font-size: 16px;
            color: #ffffff;
            margin-bottom: 10px;
        }
  .get-started-button {
    background-color: #007BFF; 
    color: #fff; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer; 
  }

  .get-started-button:hover {
    background-color: #0056b3;
  }
  
